/* General Styling */
.Thermo-container {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Button Styling */
.buttons {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.heat {
	background-color: #ff9b9b;
}

.cool {
	background-color: #9bafff;
}

/* Weather, Temperature and Mood Section */
.weather-temp-mood {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px;
	text-align: center;
	gap: 160px;
}

.weather-section,
.temp-day,
.girl-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	text-align: center;
}

.weather-section h2,
.girl-section h2 {
	margin-bottom: 10px;
}

.temp-day h1 {
	font-size: 100px;
}

/* Day Progress Bar */
.Day-progress-container {
	width: 80%;
	background-color: #ccc;
	height: 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.Day-progress-bar {
	height: 100%;
	background-color: #4caf50;
	border-radius: 10px;
}
